/* line 1, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/colors.scss */
:root {
  --main-color: #001833;
  --main-color-variant: #00244d;
  --secondary-color: #004899;
  --text-color: #1a1a1a;
  --sub-title: #474747;
  --button-color-see-details: #01cc15;
  --danger-error: #BC4B4B;
  --yellow-tonalite: #FCC530;
  --light-blue-dots: #5fe6d0;
  --dark-blue: #014898;
  --black: #262626;
}

/* line 9, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.container {
  min-width: 800px;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* line 16, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.services__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 21, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.services__wrapper.double-card {
  column-gap: 8.75rem;
}

/* line 24, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.services__wrapper.pill-card {
  column-gap: 1.5rem;
}

/* line 28, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.services__title {
  color: var(--main-color);
}

/* line 30, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.services__title:after {
  content: 'texto de apoio';
  color: #474747;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 325;
  font-size: 20px;
  line-height: 24px;
}

/* line 35, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.services__title.services__title--apoio {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

/* line 43, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.logo {
  height: 50px;
}

/* line 47, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.banner {
  height: auto;
  width: 100%;
}

/* line 50, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.banner .banner-img {
  background-color: #000d37;
  width: 100%;
  height: 330px;
  object-fit: cover;
}

/* line 58, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/commons.scss */
.w-100 {
  width: 100%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
/* line 31, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 40, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 53, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 64, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 76, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 85, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 95, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 105, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 116, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 125, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 133, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 137, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 148, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 160, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 176, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 186, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 195, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 206, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 218, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 229, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 240, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 253, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 261, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 270, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 280, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 290, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 299, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 308, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 320, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 328, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 339, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 347, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/normalize.scss */
[hidden] {
  display: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 32, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/tipography.scss */
.title-1 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

/* line 44, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/tipography.scss */
.title-2 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 350;
  font-size: 26px;
  line-height: 31px;
}

/* line 56, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/tipography.scss */
.title-3 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 24px;
}

/* line 68, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/commons/tipography.scss */
.text-body-2 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 275;
  font-size: 20px;
  line-height: 24px;
}

/* line 21, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.header {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  background-color: #F1F1F1;
  padding: .5rem 0;
}

/* line 29, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.header__nav-wrapper {
  width: calc(100% - (6% * 2));
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

/* line 39, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.header__nav {
  width: 100%;
}

/* line 43, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.header__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

/* line 49, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.header__menu .header__menu-link {
  cursor: pointer;
  margin-left: 2.125rem;
  color: var(--main-color);
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  font-family: sans-serif;
  text-transform: uppercase;
}

/* line 56, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.header__menu .header__menu-link:hover {
  color: var(--dark-blue);
}

/* line 62, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
#home-title {
  margin-top: 4.9375rem;
}

/* line 66, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
#list-title {
  margin-top: 4.3125rem;
}

/* line 70, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.main-title {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* line 76, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.main-title.main-title--left {
  align-items: flex-start;
}

/* line 79, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.main-title .main-title__h1 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: var(--black);
}

/* line 84, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.main-title:after {
  width: 6em;
  height: 6px;
  background: linear-gradient(180deg, #FCC530 0%, #FCAA30 100%);
  border-radius: 31px;
  background-color: #FCAA30;
  position: relative;
  content: '';
  top: -5px;
  left: 1px;
}

/* line 97, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: var(--black);
  font-style: normal;
  font-weight: 325;
  font-size: 20px;
  line-height: 24px;
}

/* line 106, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.breadcrumb.breadcrumb--b2b {
  margin-top: 2rem;
}

/* line 110, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/header.scss */
.breadcrumb a:not(:last-child) li:after {
  content: '>';
  margin: 0 1rem;
}

/* line 8, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 300px;
}

/* line 14, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square-card.square-card--double {
  width: calc(50% - 4.375rem);
}

/* line 17, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square-card.square-card--double-pill {
  width: calc(50% - .75rem);
}

/* line 20, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square-card.square-card--banner {
  width: 100%;
}

/* line 23, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square-card.square-card--pill {
  height: 185px;
  width: 100%;
}

/* line 29, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square-card__pill-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: calc(50% - .75rem);
}

/* line 36, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square__img-wrapper {
  width: 100%;
  height: 300px;
  margin-top: 2.375rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* line 48, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square__img-wrapper.square__img-wrapper--pill {
  height: 137px;
}

/* line 51, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square__img-wrapper .square__img {
  background-color: var(--main-color);
  width: 100%;
  height: 300px;
  border-radius: 1rem;
  object-fit: cover;
  filter: brightness(0.6);
  transition: 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* line 59, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square__img-wrapper .square__img:hover {
  filter: brightness(1);
  transform: scale(1.1);
}

/* line 63, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square__img-wrapper .square__img.square__img--pill {
  height: 120px;
}

/* line 67, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square__img-wrapper .square__icon {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  background-color: var(--dark-blue);
}

/* line 76, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square__title {
  color: var(--main-color);
  text-align: center;
  margin-top: 1.375rem;
  line-height: 22px;
  margin-top: 10px;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

/* line 83, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.square__title.square__title--upper {
  text-transform: uppercase;
}

/* line 91, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.article-card {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 1.5rem;
}

/* line 99, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.article-card:first-of-type {
  margin-top: 1rem;
}

/* line 102, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.article-card.article-card--spacing2x {
  margin-top: 3.125rem;
}

/* line 104, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.article-card.article-card--spacing2x:first-of-type {
  margin-top: 2.125rem;
}

/* line 110, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.article__img {
  height: 160px;
  width: 223px;
  background-color: var(--main-color);
  border-radius: 1em 0 0 1em;
  object-fit: cover;
  object-position: center;
}

/* line 119, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.article-card__body {
  padding: 1em 0 1rem 1rem;
  width: calc(100% - 12em);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* line 126, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.article-card__title {
  color: var(--main-color);
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-weight: 600;
}

/* line 135, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.article-card__text {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #262626;
  margin-top: 1rem;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* line 149, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/cards.scss */
.article-card__arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 10rem;
  min-width: 3rem;
  width: 10rem;
}

/* line 9, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/buttons.scss */
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* line 15, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/buttons.scss */
.back-button {
  margin: 1.1875rem 0 1rem;
}

/* line 19, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/buttons.scss */
.filter-button {
  margin-left: auto;
  display: block;
  width: 22px;
}

/* line 25, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/buttons.scss */
.btn {
  border-radius: 1rem;
  padding: 1rem 0;
  text-align: center;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  width: 350px;
  display: block;
  transition: .2s ease-in-out;
  margin: 0 auto;
}

/* line 34, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/buttons.scss */
.btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* line 40, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/buttons.scss */
.btn__yellow {
  background-color: var(--yellow-tonalite);
  color: var(--main-color);
}

/* line 43, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/components/buttons.scss */
.btn__yellow.btn__yellow--position {
  margin-top: 5.75rem;
}

/* line 18, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/suspended-menu.scss */
.suspended__wrapper {
  margin: 3.5rem auto 0;
  padding: 5rem 0;
  border-radius: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 35px -7px rgba(0, 0, 0, 0.1);
}

/* line 26, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/suspended-menu.scss */
.suspended__title {
  color: var(--main-color);
  text-align: center;
}

/* line 31, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/suspended-menu.scss */
.suspended-nav {
  width: 100%;
  margin: 5.25rem auto 0;
}

/* line 36, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/suspended-menu.scss */
.suspended__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

/* line 44, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/suspended-menu.scss */
.suspended__menu .suspended__menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  cursor: pointer;
  overflow: hidden;
  width: 126px;
  padding: 10px 0;
  margin: 0;
}

/* line 54, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/suspended-menu.scss */
.suspended__menu .suspended__menu-link:hover .suspended__icon:after {
  transform: rotate(320deg) scale(1.01);
  border: solid 5px #fcc530;
  border-color: #fcc530 transparent transparent transparent;
}

/* line 59, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/suspended-menu.scss */
.suspended__menu .suspended__menu-link span {
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

/* line 68, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/suspended-menu.scss */
.suspended__icon {
  transition: 0.5s linear box-shadow;
  background-color: #fff;
  position: relative;
  flex: 0 0 auto;
  height: 100px;
  width: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: 2px solid rgba(13, 37, 54, 0.3);
  border-radius: 999px;
  margin-bottom: 18px;
}

/* line 86, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/suspended-menu.scss */
.suspended__icon:after {
  height: 100%;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  border: solid 5px var(--main-color);
  border-color: #0d2536 transparent transparent transparent;
  border-radius: 88px;
  top: -6px;
  left: -5px;
  transition: 0.5s cubic-bezier(0.79, -0.2, 0.29, 1.11) transform;
  transform: rotate(45deg);
}

/* line 1, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/consultorias.scss */
#consultorias {
  padding-top: 9rem;
  background: linear-gradient(190deg, transparent 57%, #F6F6F6 57%);
}

/* line 1, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/inovacao.scss */
#inovacao {
  padding-top: 7.25rem;
  background-color: #F6F6F6;
}

/* line 1, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/laboratoriais.scss */
#laboratoriais {
  padding-top: 9.1875rem;
  padding-bottom: 6.1875rem;
  background-color: #F6F6F6;
}

/* line 1, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/educacao.scss */
#educacao {
  padding-top: 6.5625rem;
}

/* line 1, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/bottom-banner.scss */
#bottom-banner {
  margin-top: 9.0625rem;
  margin-bottom: 6.5rem;
}

/* line 4, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/home/bottom-banner.scss */
#bottom-banner img {
  background-color: var(--yellow-tonalite);
  object-fit: cover;
}

/* line 3, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/list-by-section/list-articles.scss */
#list-articles {
  margin-top: 7.1875rem;
  margin-bottom: 7.1875rem;
}

/* line 8, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/list-by-section/list-articles.scss */
.articles__title {
  color: var(--main-color);
}

/* line 12, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/list-by-section/list-articles.scss */
.articles-wrapper:not(:first-of-type) {
  margin-top: 5rem;
}

/* line 1, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/editais/general.scss */
#editais {
  margin: 7rem auto;
}

/* line 4, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/editais/general.scss */
.edital__card {
  width: 100%;
  height: fit-content;
  padding: 1em 1.5em;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: .5rem;
  margin-top: 1.875rem;
}

/* line 14, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/editais/general.scss */
.edital__data {
  font-family: Gotham;
  font-weight: 400;
  font-size: 14px;
  color: #00244D;
  margin: .25em 0;
}

/* line 21, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/editais/general.scss */
.div-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: .5rem;
}

/* line 28, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/editais/general.scss */
.edital__resultado {
  font-family: Gotham;
  font-style: normal;
  font-weight: normal;
  font-size: calc(14px - 15%);
  margin-top: 1.6875rem;
  text-decoration: underline;
  color: var(--sub-title);
}

/* line 37, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/editais/general.scss */
.edital__title {
  color: #014898;
}

/* line 40, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/editais/general.scss */
.div-icon h2 {
  margin-left: .25em;
}

/* line 1, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/laboratoriais/general.scss */
#lab-resumo {
  margin-top: 3.375rem;
}

/* line 5, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/laboratoriais/general.scss */
#list-lab {
  margin: 4.4375rem auto;
}

/* line 9, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/laboratoriais/general.scss */
.lab__p {
  color: var(--black);
}

/* line 30, ../../OneDrive - Sistema FIEA/dev/b2b-senai/assets/scss/style.scss */
* {
  font-family: sans-serif !important;
  text-decoration: none;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */