@mixin button-2{
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.square-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 300px;
  &.square-card--double{
    width: calc(50% - 4.375rem);
  }
  &.square-card--double-pill{
    width: calc(50% - .75rem);
  }
  &.square-card--banner{
    width: 100%;
  }
  &.square-card--pill{
    height: 185px;
    width: 100%;
  }
}

.square-card__pill-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: calc(50% - .75rem);
}

.square__img-wrapper{
  width: 100%;
  height: 300px;
  margin-top: 2.375rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &.square__img-wrapper--pill{
    height: 137px;
  }
  .square__img{
    background-color: var(--main-color);
    width: 100%;
    height: 300px;
    border-radius: 1rem;
    object-fit: cover;
    filter: brightness(0.60);
    transition: .45s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
      filter: brightness(1); 
      transform: scale(1.1);     
    }
    &.square__img--pill{
      height: 120px;
    }
  }
  .square__icon{
    position: absolute;    
    display: block;
    width: 80px;
    height: 80px;
    background-color: var(--dark-blue);
  }
}

.square__title{
  color: var(--main-color);
  text-align: center;  
  margin-top: 1.375rem;  
  line-height: 22px;
  margin-top: 10px;
  @include button-2;
  &.square__title--upper{    
    text-transform: uppercase;
  }
}




.article-card{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;  
  margin-top: 1.5rem;
  &:first-of-type{
    margin-top: 1rem;
  }
  &.article-card--spacing2x{
    margin-top: 3.125rem;
    &:first-of-type{
      margin-top: 2.125rem;
    }
  }
}

.article__img{
  height: 160px;
  width: 223px;
  background-color: var(--main-color);
  border-radius: 1em 0 0 1em;
  object-fit: cover;
  object-position: center;
}

.article-card__body{
  padding: 1em 0 1rem 1rem;
  width: calc(100% - 12em);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.article-card__title{
  color: var(--main-color);
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  font-weight: 600;
}
.article-card__text{
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #262626;
  margin-top: 1rem;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.article-card__arrow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 10rem;
  min-width: 3rem;
  width: 10rem;
}