@mixin botao2 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}


@mixin subtitulo1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

@mixin subtitulo2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

@mixin titulo-1 {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.titulo-1{
  @include titulo-1;
}